.main_app_frame{
  display: flex;
}
.main-body{
  padding: 50px;
  background-color: #ddecf1;
}
@media only screen and (max-width: 640px) {
  .main_app_frame{
    flex-direction: column;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .main_app_frame{
    flex-direction: column;
  }

}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .main_app_frame{
    flex-direction: row;
  }
}

@media only screen and (min-width: 1281px) {
  .main_app_frame{
    flex-direction: row;
  }
}
