.main_app_frame{
  display: flex;
}
.main-body{
  padding: 50px;
}
@media only screen and (max-width: 640px) {
  .home-grid {
    grid-template-columns: 1fr;
  }

  .breadcrumb {
    display: none;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .home-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .breadcrumb {
    display: none;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .home-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .breadcrumb {
    display: block;
  }
}
@media only screen and (min-width: 1281px) {
  .home-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .breadcrumb {
    display: block;
  }
}
