.boxStyle {
  color: red;
  margin: 10px;
  height: 150px;
  width: 150px;
  background-color: lightgrey;

}
@media only screen and (max-width: 640px) {

}

@media only screen and (min-width: 641px) and (max-width: 1024px) {

}
/*Show the bread crumb menu for large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

}


@media only screen and (min-width: 1281px) {

}
