.child {
  position: relative;
  color: gray;
  margin: 10px;
  height: 150px;
  width: 150px;
  background-color: lightgrey;
  padding: 100px;
}

.parent{
  position: absolute;
  background-color: lightpink;
}

.grandma{
  position: static;
  background-color: red;
  width: 400px;
  height: 500px;
}

@media only screen and (max-width: 640px) {
  .child {
    width: 100%;
    max-width: 300px;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .child {
    width: calc(50% - 20px);
  }

  .breadcrumb {
    display: none;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .child {
    width: 150px;
  }

  .breadcrumb {
    display: block;
  }
}

@media only screen and (min-width: 1281px) {
  .child {
    width: 150px;
  }

  .breadcrumb {
    display: block;
  }
}
