.boxStyle {
  position: static;
  color: red;
  margin: 10px;
  height: 150px;
  width: 150px;
  background-color: lightgrey;
}

/*.boxStyle3 {*/
/*  position: fixed;*/
/*  color: red;*/
/*  margin: 10px;*/
/*  height: 150px;*/
/*  width: 150px;*/
/*  background-color: black;*/
/*  opacity: 0.7;*/
/*}*/

#parent{
  position: static;
  background-color: lightpink;
}


@media (max-width: 640px) {
  .boxStyle{
    margin: auto;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .boxStyle{
    margin: auto;
  }
  #parent{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
/*Show the bread crumb menu for large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
#parent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}
}


@media only screen and (min-width: 1281px) {
  #parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
}
