.boxStyle {
  position: relative;
  color: red;
  margin: 10px;
  height: 150px;
  width: 150px;
  background-color: lightgrey;
  display: inline-block;
}

.boxStyle3 {
  position: relative;
  color: red;
  margin: 10px;
  height: 150px;
  width: 150px;
  background-color: black;
  opacity: 0.7;
  display: inline-block;
}

#parent{
  position: absolute;
  background-color: lightpink;
  text-wrap-mode: nowrap;
}


@media only screen and (max-width: 640px) {

}

@media only screen and (min-width: 641px) and (max-width: 1024px) {

}
/*Show the bread crumb menu for large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

}


@media only screen and (min-width: 1281px) {

}
