.child {
  position: relative;
  color: gray;
  margin: 10px;
  height: 150px;
  width: 150px;
  background-color: lightgrey;
  padding: 100px;
}

.parent{
  position: relative;
  background-color: lightpink;
}

.grandma{
  position: relative;
  background-color: red;
}

